@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.square {
    background-color: rgb(0,0,0,0);
    border-color: white;
    border-width: 1px;
    width: 33%;
    height: 100%;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
}
